*.a
/CMakeCache.txt
/CMakeFiles/
/EncodeFromScratch
/Formatter01
/Formatter02
/Formatter03
/RewriteCode
/ZydisDisasm
/ZydisExportConfig.h
/ZydisFuzzDecoder
/ZydisFuzzEncoder
/ZydisFuzzIn
/ZydisFuzzReEncoding
/ZydisInfo
/ZydisPE
/ZydisPerfTest
/ZydisTestEncoderAbsolute
/cmake_install.cmake
/decoder
/zycore
/zydis-config-version.cmake
/zydis-config.cmake
